* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
   line-height: 1.4;
}
.product {
   width: 825px;
   margin: 50px auto;
   border: 4px solid black;
   position: relative;
}
.sale {
   font-size: 12px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #fff;
   background-color: #ec2f2f;
   padding: 7px 15px;
   position: absolute;
   left: -35px;
   top: -17px;
}
.product-colors {
   display: flex;
   gap: 10px;
}
.color {
   width: 30px;
   height: 30px;
}
.color:nth-child(1) {
   background-color: black;
}
.color:nth-child(2) {
   background-color: blue;
}
.color:nth-child(3) {
   background-color: red;
}
.color:nth-child(4) {
   background-color: yellow;
}
.color:nth-child(5) {
   background-color: green;
}
.color:nth-child(6) {
   background-color: brown;
}
.details-list {
   list-style: square;
   margin-left: 20px;
}
.details-list li {
   margin-bottom: 15px;
}
.product-title {
   text-transform: uppercase;
   background-color: #f7f7f7;
   text-align: center;
   font-size: 22px;
   padding: 15px;
}
.price {
   font-size: 24px;
   font-weight: bold;
}
.shipping {
   font-size: 12px;
   text-transform: uppercase;
   color: #777;
   font-weight: bold;
}
.tagline { 
   margin-bottom: 10px;
   clear: both;
}
.more-info:link,
.more-info:visited {
   display: inline-block;
   color: black;
}
.more-info:hover,
.more-info:active {
   text-decoration: none;
}
.details-title {
   text-transform: uppercase;
   font-size: 16px;
}
.add-cart {
   width: 100%;
   padding: 20px;
   font-size: 20px;
   text-transform: uppercase;
   color: #fff;
   background-color: black;
   border: none;
   border-top: 4px solid black;
   cursor: pointer;
}
.add-cart:hover {
   color: #000;
   background-color: #fff;
}
.mgb-20 {
   margin-bottom: 20px;
}
/* Grid */
.product {
   display: grid;
   grid-template-columns: auto repeat(2, 1fr);
   column-gap: 40px;
}
.product-title {
   grid-column: 1 / -1;
}
button {
   grid-column: 1 / -1;
}


/* Flexbox */
/* .container {
   display: flex;
   gap: 40px;
} */
.price-shipping {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.product-info,
.product-details {
   margin-top: 20px;
   /* flex: 1; */
}

/* Float */
/* img {
   float: left;
   margin-right: 40px;
}
.product-info {
   float: left;
   width: 243px;
   margin-right: 40px;
   margin-top: 20px;
}
.product-details {
   float: left;
   width: 243px;
   margin-top: 20px;
}
.price {
   float: left;
}
.shipping {
   float: right;
} */